doctype html
head
 
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title= title 
    style 
        include ../Public/style.css
body     
.nav.mynav
    a.active(href='/') Home 
    a(href='/OurServices') Our Services
    a(href='/Contactus') Contact Us
h1 Let's Get In Touch!
img.image(src='https://st2.depositphotos.com/1265075/7446/i/600/depositphotos_74468913-stock-photo-contact-us-icons-on-cubes.jpg' alt='contact us')

form.contact
  div.box  
    label(for='fname') First name:
    br
    input(type='text' name='fname' value='')
    br
    label Last name:
    br
    input(type='text' name='lname' value='')
    br
    label Email :
    br
    input(type='text' name='fname' value='')
    br
    br
    br
    input(type='submit' value='Submit')
